/* Reset CSS */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body, h1, h2, h3, h4, h5, h6, p, ul, ol, li, dl, dt, dd, blockquote, figure, fieldset, legend, textarea, pre {
    margin: 0;
    padding: 0;
}

body {
    line-height: 1;
}

ol, ul {
    list-style: none;
}

blockquote, q {
    quotes: none;
}

blockquote:before, blockquote:after, q:before, q:after {
    content: '';
    content: none;
}

table {
    border-collapse: collapse;
    border-spacing: 0;
}

/* End of Reset CSS */

body, html {
    height: 100%;
}

.container {
    height: 100%;
    background-color: #E7DFAF; /* Общий фон */
    display: flex;
    justify-content: center;
    align-items: center;
}

.img {
    background-image: url("https://sun9-3.userapi.com/impg/gZsEmqx7-p9s8ZTjEVgqNpDOonAHaomjA5FPUw/LaorAlT6FmI.jpg?size=1080x1618&quality=95&sign=4b9f010103d21c13c08248e9fb9940b4&type=album");
    background-size: cover;
    background-position: center;
    height: 100%;
    width: calc(100vh * 2 / 3); /* Ширина 2/3 высоты */
}

.container-button{
    height: 50%; /* 3/4 от высоты контейнера */
    display: flex;
    justify-content: center;
    align-items: center;
}

.button {
    width: 35%;
    height: 10%;
    background-color: white;
    border: none;
    border-radius: 25px;

    display: flex;
    justify-content: center;
    align-items: center;
    text-decoration: none;
}

.button-text {
    display: block;
    text-decoration: none;
    color: inherit;
    text-transform: uppercase;
    font-family: 'Courier New', Courier, monospace;
    font-weight: 700;
    color: black;
}

.button:hover {
    background-color: #E7DFAF; /* Цвет фона при наведении курсора */
    border: 2px solid black;
}

@media screen and (max-width: 500px) {
    .button:hover {
        background-color: #a99cc6; /* Цвет фона при наведении курсора */
        border: 2px solid white;
    }

    .button-text {
        color: white;
    }
}